{
    "printWidth": 100,
    "useTabs": false,
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "jsxSingleQuote": false,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "arrowParens": "avoid",
    "endOfLine": "lf",
    "vueIndentScriptAndStyle": false,
    "trailingComma": "all"
}
