{
    "root": true,
    "extends": "@antfu",
    "rules": {
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "jsonc/indent": ["error", 4],
        "@typescript-eslint/indent": ["error", 4],
        "n/prefer-global/process": "off",
        "no-console": "off",
        "brace-style": "off",
        "linebreak-style": "off",
        "switch-colon-spacing": "off",
        "curly":"off",
        "@typescript-eslint/brace-style": "off",
        "vue/singleline-html-element-content-newline": "off",
        "vue/html-indent": ["error", 4]
    }
}